<!DOCTYPE html>
<html>

  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice]%>
     <div class="noticecation is-info">
      <p class="notice"><%= notice %></p>
    </div>
    <%end%>

    <% if flash[:alert]%>
     <div class="noticecation is-denger">
      <p class="alert"><%= alert %></p>
     </div>
    <%end%>

    <header class="navbar navbar-default navbar-inverse">
      <div class="container">
        <div class="navbar-left">
          <span>Bookers</span>
        </div>
        <div class="navbar-right">
         <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to fa_icon("home", text: "Home"),user_path(current_user.id) %></li>
            <li><%= link_to fa_icon("user", text: "Users"),users_path %></li>
            <li><%= link_to fa_icon("book", text: "Books"),books_path %></li>
            <li><%= link_to fa_icon("sign-out", text: "logout"),destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to fa_icon("home", text: "Home"),root_path%></li>
            <li><%= link_to fa_icon("eject", text: "About"),about_path%></li>
            <li><%= link_to fa_icon("user-plus", text: "sign up"),new_user_registration_path, method: :get %></li>
            <li><%= link_to fa_icon("sign-in", text: "login"),new_user_session_path, method: :get %></li>
          <% end %>
         </ul>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>

<div class="container">
  <div class="row">
   <div class="col-xs-4 col-xs-offset-8">
    <footer>
    <p>CopyRight Infratop.inc</p>
    </footer>
    </html>
   </div>
  </div>
</div>