<!DOCTYPE html>
<html>

  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice]%>
     <div class="noticecation is-info">
      <p class="notice"><%= notice %></p>
    </div>
    <%end%>

    <% if flash[:alert]%>
     <div class="noticecation is-denger">
      <p class="alert"><%= alert %></p>
     </div>
    <%end%>
    <div class="container">
      <div class="row">
       <div class="col-lg-3">
         <span>Bookers</span>
       </div>
       <div class="col-lg-9">
        <% if user_signed_in? %>
          <%= link_to fa_icon("home", text: "Home"),user_path(current_user.id) %>
          <%= link_to fa_icon("user", text: "Users"),users_path %>
          <%= link_to fa_icon("book", text: "Books"),books_path %>
          <%= link_to fa_icon("sign-out-alt", text: "logout"),destroy_user_session_path, method: :delete%>
        <% else %>
          <%= link_to fa_icon("home", text: "Home"),root_path%>
          <%= link_to fa_icon("eject", text: "About"),about_path%>
          <%= link_to fa_icon("user-plus", text: "sign up"),new_user_registration_path, method: :get%>
          <%= link_to fa_icon("sign-in-alt", text: "login"),new_user_session_path, method: :get%>
        <% end %>
       </div>
      </div>
    </div>
    <%= yield %>
  </body>


<footer>
<p>CopyRight Infratop.inc</p>
</footer>
</html>
